<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" 
		id="au.com.ttt.AnglicareHelp" 
		version="1.0.0.0" 
		xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Anglicare Help</name>
  <description>Anglicare help application</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">3Tier Technology</author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="skype" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Fullscreen" value="false" />
</widget>